/* Author  : Candra D Waskito
 * Version : 1.0 */
/* Import */
@import url(node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500");
body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px; }

h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: normal; }

h2 {
  font-weight: 500;
  font-size: 38px;
  line-height: normal; }

h3 {
  font-size: 28px;
  line-height: normal; }

h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: normal; }

h5 {
  font-size: 18px;
  font-weight: 300;
  line-height: normal; }

h6 {
  font-size: 16px;
  font-weight: 300;
  line-height: normal; }

p {
  font-size: 14px;
  font-weight: 300;
  line-height: normal; }

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 15px; }

/* Navbar */
.navbar {
  line-height: 80px;
  height: 80px;
  background-color: transparent;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    line-height: 80px;
    height: 80px; }
    .navbar .navbar-brand img {
      width: 148px;
      line-height: 80px; }
  .navbar .navbar-nav {
    height: 80px; }
    .navbar .navbar-nav li > a {
      line-height: 40px;
      font-size: 18px; }

/* Hero */
#hero-header {
  background: url("images/bg-hero.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px; }
  #hero-header .overflow {
    background-color: rgba(0, 0, 0, 0.6);
    height: 700px; }
    #hero-header .overflow .content-hero {
      margin-top: 180px; }
      #hero-header .overflow .content-hero h1 {
        margin-bottom: 30px;
        color: #f5f5f5; }
      #hero-header .overflow .content-hero h5 {
        margin-bottom: 30px;
        color: #ddd; }
      #hero-header .overflow .content-hero .btn {
        background-color: transparent;
        color: #999;
        border: 2px solid #999;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 15px 35px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transform: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        #hero-header .overflow .content-hero .btn:hover, #hero-header .overflow .content-hero .btn:focus, #hero-header .overflow .content-hero .btn:active {
          background-color: #365EBA;
          border: 2px solid #365EBA;
          color: #fff;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transform: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

/* Services */
#services {
  padding-top: 50px;
  padding-bottom: 50px; }
  #services .services-title {
    margin-top: 60px; }
    #services .services-title p {
      font-size: 18px;
      color: #909090; }
  #services .services-content {
    margin-top: 80px; }
    #services .services-content .glyphicon {
      font-size: 62px;
      margin-bottom: 20px;
      color: #ddd; }
      #services .services-content .glyphicon:hover {
        color: #365EBA; }
    #services .services-content h4 {
      color: #365EBA;
      font-weight: 300; }

#contact-us {
  background-color: #f5f5f5;
  padding-bottom: 80px;
  padding-top: 40px; }

footer {
  padding-top: 20px;
  padding-bottom: 20px; }
  footer p {
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
